@import "tailwindcss";
:root {
  --bg-main: #121417;
  --bg-deep: #0b0d10;

  --text-main: #fcfcfd;
  --text-muted: #7e889a;

  --border-main: #58606f;

  /* accent (for subtle glow only) */
  --accent-soft: rgba(75, 255, 178, 0.1);
}

@keyframes flash-animation {
  0% {
    background-color: transparent;
  }
  30% {
    background-color: rgba(59, 130, 246, 0.15);
    border-color: #3b82f6;
    box-shadow: 0 0 30px rgba(59, 130, 246, 0.3);
    transform: scale(1.02);
  }
  100% {
    background-color: transparent;
  }
}
html, body, #root {
  background-color: #0f172a; /* لون slate-900 */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* بيمنع ظهور اللون الأبيض في السكرول الحاد */
  overscroll-behavior-y: none; 
}
.flash-highlight {
  animation: flash-animation 1.5s ease-in-out infinite;
  z-index: 10;
  position: relative;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* تخصيص السكرول بار ليكون أنيقاً */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(59, 130, 246, 0.5); /* لون أزرق شفاف */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(59, 130, 246, 0.8);
}
